{% load static %}

<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'js/handlebars-v3.0.3.js' %}"></script>
	<title>{% block title %}Find Your Rep{% endblock %}</title>
	{% block extrahead %} {% endblock %}	
</head>
<body>
<div class="container-fluid">
	<div class="wrapper">
		<div class="jumbotron">{% block jumbo %}{% endblock %}</div>
		{% block content %}{% endblock %}
	</div>
</div>
{% block footerjs %}
{% endblock %}
</body>
</html>
