{% extends 'finder/base.html' %}
{% load leg_filters %}
{% block content %}
{% for leg in legislators %}

<div class="row legislator-card">
    <div class="col-md-4 col-sm-12 legi-picture">
        <img class="img-rounded img-responsive center-block" src="{{ leg.image_url }}" />
    </div>
    <div class="col-md-8 col-sm-12">
        <p class="text-center">{{ leg.chamber|capfirst }} - {{ leg.party|full_party }}</p>
        <p class="text-center">{{ leg.first_name }} {{ leg.last_name }}</p>
        <p class="text-center">{{ leg.birthday }}</p>
        <p class="text-center"><a href="http://www.twitter.com/{{ leg.twitter_id }}">{{ leg.twitter_id }}</a></p>
    </div>
</div>

{% endfor %}
{% endblock %}
